// Basic color pallete
$color--brand-primary-light:            #FF227F;
$color--brand-primary-dark:             #333333;
$color--brand-white:                    #ffffff;
$color--brand-off-white:                #F7F7F7;
$color--brand-contrast-white:           #f1efef;
$color--brand-contrast-white-2:         #e7e2dc;
$color--brand-grey:                     #E6E6E6;

$themes: (
    "light": (
        "colors": (
            "body": $color--brand-white,
            "brand-primary-light": $color--brand-primary-light,
            "text-primary": $color--brand-primary-dark,
            "text-contrast": $color--brand-white,
            "heading-primary": $color--brand-primary-dark,
            "heading-contrast": $color--brand-white,
            "panel": $color--brand-white,
            "panel-dark": $color--brand-primary-dark,
            "panel-border": $color--brand-grey,
            "panel-contrast": $color--brand-contrast-white,
            "btn-primary": rgba($color--brand-white, 0.8),
            "btn-neutral": $color--brand-primary-dark,
            "btn-text": $color--brand-primary-dark,
            "btn-text-light": $color--brand-white,
            "loader": $color--brand-primary-dark,
            "input-bg": $color--brand-off-white,
            "input-border": $color--brand-grey,
            "input-text": $color--brand-primary-dark,
            "input-placeholder-text": rgba($color--brand-primary-dark, 60%),
            "menu-indicator": $color--brand-primary-light,
            "link": $color--brand-primary-dark,
            "selection-bg": $color--brand-primary-light,
            "selection-text": $color--brand-white,
            "outline": $color--brand-primary-light,
        )
    ),
    "dark": (
        "colors": (
            "body": $color--brand-white,
            "brand-primary-light": $color--brand-primary-light,
            "text-primary": $color--brand-primary-dark,
            "text-contrast": $color--brand-white,
            "heading-primary": $color--brand-primary-dark,
            "heading-contrast": $color--brand-white,
            "panel": $color--brand-white,
            "panel-border": $color--brand-contrast-white,
            "btn-primary": rgba($color--brand-white, 0.8),
            "btn-neutral": $color--brand-primary-dark,
            "btn-text": $color--brand-primary-dark,
            "btn-text-light": $color--brand-white,
            "loader": $color--brand-primary-dark,
            "input-bg": $color--brand-off-white,
            "input-border": $color--brand-grey,
            "input-text": $color--brand-primary-dark,
            "input-placeholder-text": rgba($color--brand-primary-dark, 60%),
            "menu-indicator": $color--brand-primary-light,
            "link": $color--brand-primary-dark,
            "selection-bg": $color--brand-primary-light,
            "selection-text": $color--brand-white,
        )
    )
);

@each $theme-name, $theme-vars in $themes {

    $colors: map-get($theme-vars, "colors");

    body.theme--#{$theme-name} {

        @each $name, $color in $colors {
            --color--#{$name}: #{$color};
        }

    }
}
