@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&display=swap');

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--semibold: 600;
$font-weight--bold: 700;
$font-weight--xbold: 800;

$font-family--primary: 'Fira Sans', 'Helvetica', sans-serif;
$font-family--secondary: 'Oswald', 'Helvetica', sans-serif;

body {
    font-family: $font-family--primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color--text-primary);
    font-weight: $font-weight--regular;
    line-height: 1.2;
}

a {
    color: var(--color--link);
    font-weight: $font-weight--bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family--secondary;
    color: var(--color--heading-primary);
    font-weight: $font-weight--bold;
    line-height: 1.33;
}

::selection {
    background-color: var(--color--selection-bg);
    color: var(--color--selection-text);
}
