.service-card {
    width: 100%;
    position: relative;
}

.service-card__bg {
    width: 100%;
    max-height: 420px;
    overflow: hidden;
    margin-bottom: 64px;
}

.service-card__bg-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 480px;
    background-color: var(--color--panel);
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
}

.service-card__link {
    display: flex;
    align-items: center;
    font-family: $font-family--secondary;
    font-weight: $font-weight--regular;
    font-size: 20px;
    margin-bottom: 24px;


    img {
        display: block;
        margin-left: 16px;
        width: 16px;
    }
}

.service-card__description {
    font-family: $font-family--primary;
    font-weight: $font-weight--regular;
    font-size: 16px;
    line-height: 24px;
    max-width: 300px;
}


@media screen and (max-width: 520px) {

    .service-card__content {
        padding-top: 27px;
        padding-left: 19px;
        padding-right: 19px;
        padding-bottom: 12px;
    }

    .service-card__link {
        font-size: 18px;
        margin-bottom: 19px;
    }

    .service-card__description {
        font-size: 14px;
        line-height: 22px;
        max-width: 380px;
    }

}
